.App {
  text-align: center;
  background-color: #f7f774;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60vmin;
  pointer-events: none;
  margin-top: 50px;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F95F62;
}

.Button {
  background-color: #04065E;
  color: #F95F62;
  width: 40vmin;
  border-radius: 25px;
  padding: 25px;
  font-size: calc(10px + 2vmin);
  margin: 10px;

}

.Input {
  color: #F95F62;
  border-radius: 25px;
  width: 80vmin;
  padding: 25px;
  font-size: calc(10px + 2vmin);
  margin: 10px;

}



@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} 
